# ECO475 Group 2_CMA level dataset

### Author: Shih-Chieh Lee, Lingyun Ma, Yuwen Zhao

# 1. Basic Setting

## a. Package Install

In [ ]:
#!pip install stats-can
#!pip install pandas
#!pip install numpy
#!pip install matplotlib
#!pip install statsmodels
#!pip install linearmodels
#!pip install tabula-py #Note: Pls install tabula-py, not tabula——血的教训
#!pip install warnings

## b. Package Import

In [1]:
# Data Collection Packages
from stats_can import StatsCan #read StatsCan data 


sc = StatsCan(data_folder="/Users/changanlee/Documents/GitHub/Housing_Price_Immigration/Input") 
#Create an instance of StatsCan class

In [2]:
# Import tabula and check java environment
from tabula.io import read_pdf  #Scrape table from pdf files
import requests 
from datetime import datetime
import calendar
import re

In [3]:
# Data Processing Packages
import pandas as pd #pandas
import numpy as np 
import matplotlib.pyplot as plt #data visualization
%matplotlib inline
# activate plot theme
import qeds

In [4]:
# Stats Model Packages
import statsmodels.api as sm # statistical model
from statsmodels.iolib.summary2 import summary_col # summary table for regression result
from linearmodels.iv import IV2SLS # IV

In [5]:
# Silence all the warnings cuz they're absolutely annoying if you loop it multiple times
import warnings
warnings.filterwarnings('ignore')

# 2. Data Collection

## A. HPI Data

### 1) Load Excel File

Let's start with MLS HPI dataset from Canadian Real Estate Association (CREA)

We have downloaded the CMA / city-level HPI panel data from https://www.crea.ca/housing-market-stats/mls-home-price-index/hpi-tool/. 

We choose to use seasonally-unadjusted HPI dataset for our analysis to better match data from other sources (mainly from Statistics Canada), which does record monthly data that embedded seasonality.

In [192]:
# Read xlsx format HPI data

HPI_excel = pd.ExcelFile("/Users/changanlee/Desktop/University/Undergrad/4th-Year/Winter Semester/ECO475/Term Paper/Data/Raw/CMA Level/HPI/Seasonally Adjusted.xlsx")
    
HPI = pd.DataFrame()

for sheet_name in HPI_excel.sheet_names:
    df = pd.read_excel(HPI_excel, sheet_name)
    
    df["Location"] = sheet_name
    
    HPI =pd.concat([HPI, df], ignore_index = True)

### 2) Data Cleaning

We now move to perform some basic data cleaning for future analysis purpose

First, we notice that the CREA HPI dataset region is not named exactly based on official census naming. We will modify the Location naming based on a CREA-census region mapping dataset for future merging

In [193]:
mapping_path = "/Users/changanlee/Desktop/University/Undergrad/4th-Year/Winter Semester/ECO475/Term Paper/Data/Raw/CMA Level/HPI/mapping file for census.csv"
CREA_census_map = pd.read_csv(mapping_path)

CREA_census_map = CREA_census_map[["location_name","geo_gdp"]]

CREA_census_map.head()

         location_name                                          geo_gdp
0              ALBERTA                                          Alberta
1    BANCROFT_AND_AREA  Area outside census metropolitan areas, Ontario
2  BARRIE_AND_DISTRICT                            Barrie (CMA), Ontario
3     BRANTFORD_REGION                         Brantford (CMA), Ontario
4     BRITISH_COLUMBIA                                 British Columbia

In [194]:
# Replace Location Name
merged_df = HPI.merge(CREA_census_map, how='left', left_on='Location', right_on='location_name')
HPI["Location"] = merged_df["geo_gdp"]

We then keep only the composite HPI and Composite benchmark price. Also didi some minor column name change

In [195]:
HPI.columns = HPI.columns.str.replace("_SA", "")
HPI = HPI[["Location","Date", "Composite_HPI","Composite_Benchmark"]]


# Remove non-CMA / Province / Canada data
HPI = HPI[HPI["Location"].str.startswith("Area") == False]
HPI = HPI[~HPI["Location"].str.contains('(CA)')]

# Remove any content within parentheses, including the parentheses themselves
HPI['Location'] = HPI['Location'].str.replace(r' \(.*?\)', '', regex=True)


# Keep data only since 2006
HPI["Date"] = pd.to_datetime(HPI["Date"])
HPI = HPI[HPI["Date"].dt.year.astype(int) >= 2006]

HPI.head()

   Location       Date  Composite_HPI  Composite_Benchmark
12   Canada 2006-01-01          109.4               263700
13   Canada 2006-02-01          110.5               266400
14   Canada 2006-03-01          111.7               269300
15   Canada 2006-04-01          113.1               272600
16   Canada 2006-05-01          114.5               275900

## B. StatsCan Data

We know go to collect the Stastics Canada data. This process can be done using Python only as we can directly collect StatsCan data using the StatsCan library

### 1) Labour Force Survey Data

Our population comes from two parts. 

First, Statistics Canada collects census data every 5-6 years. This will become our benchmark. 

Second, there is a monthly 15 years+ population estimates made from Labour Force Survey. This will be our main population dataset given its favorable monthly frequency.

In [236]:
LFS = sc.table_to_df("14-10-0380-01")
    # Statistics Canada. Table 14-10-0380-01  Labour force characteristics, three-month moving average, seasonally adjusted
LFS.head()

,REF_DATE,GEO,DGUID,Labour force characteristics,Statistics,Data type,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006-03-01,Canada,2016A000011124,Population,Estimate,Seasonally adjusted,Persons,249,thousands,3,v1235045015,1.1.1.1,25979.7,NaN,NaN,NaN,1
1,2006-03-01,Canada,2016A000011124,Population,Estimate,Unadjusted,Persons,249,thousands,3,v1235045016,1.1.1.2,25979.7,NaN,NaN,NaN,1
2,2006-03-01,Canada,2016A000011124,Labour force,Estimate,Seasonally adjusted,Persons,249,thousands,3,v1235045017,1.2.1.1,17451.8,NaN,NaN,NaN,1
3,2006-03-01,Canada,2016A000011124,Labour force,Estimate,Unadjusted,Persons,249,thousands,3,v1235045018,1.2.1.2,17203.9,NaN,NaN,NaN,1
4,2006-03-01,Canada,2016A000011124,Labour force,Standard error of estimate,Seasonally adjusted,Persons,249,thousands,3,v1235045019,1.2.2.1,35.6,NaN,NaN,NaN,1

We need to further select data we want.

In [237]:
# Filter date
LFS = LFS[LFS["REF_DATE"].dt.year.astype(int) >= 2005]

# Filter characteristics 
LFS = LFS[LFS["Labour force characteristics"].isin(["Population","Employment rate", "Unemployment rate", "Participation rate"])]

# Filter statistics
LFS = LFS[LFS["Statistics"] == "Estimate"]

# Filter data type as Seasonally adjusted
LFS = LFS[LFS["Data type"] == "Seasonally adjusted"]

# Apply scalar to value data
LFS["VALUE"] = LFS["VALUE"].astype(int) * (10 ** LFS["SCALAR_ID"].astype(int))


# Filter columns
LFS = LFS[["REF_DATE", "GEO", "Labour force characteristics", "VALUE"]]

LFS.head()

,REF_DATE,GEO,Labour force characteristics,VALUE
0,2006-03-01,Canada,Population,25979000
17,2006-03-01,Canada,Unemployment rate,6
22,2006-03-01,Canada,Participation rate,67
27,2006-03-01,Canada,Employment rate,62
32,2006-03-01,Newfoundland and Labrador,Population,426000

One more thing that worths noting is the long-wide form difference. The LFS dataset needs to be reshaped into wide form for merging

In [246]:
LFS_wide = LFS.pivot(index=['REF_DATE', 'GEO'], columns='Labour force characteristics', values='VALUE')

LFS_wide.reset_index(inplace = True)
LFS_wide.head()

Labour force characteristics,REF_DATE,GEO,Population,Unemployment rate,Participation rate,Employment rate
0,2006-03-01,"Abbotsford-Mission, British Columbia",128000,5,68,64
1,2006-03-01,Alberta,2663000,3,73,70
2,2006-03-01,"Barrie, Ontario",143000,6,74,70
3,2006-03-01,"Belleville, Ontario",78000,7,51,47
4,2006-03-01,"Brantford, Ontario",103000,5,69,65

Good, now we proceed to merge

In [247]:
Monthly_df = HPI.merge(LFS_wide, how = "left", left_on = ['Location',"Date"], right_on = ["GEO","REF_DATE"])

Monthly_df.head()

,Location,Date,Composite_HPI,Composite_Benchmark,REF_DATE,GEO,Population,Unemployment rate,Participation rate,Employment rate
0,Canada,2006-01-01,109.4,263700,NaT,NaN,NaN,NaN,NaN,NaN
1,Canada,2006-02-01,110.5,266400,NaT,NaN,NaN,NaN,NaN,NaN
2,Canada,2006-03-01,111.7,269300,2006-03-01,Canada,25979000.0,6.0,67.0,62.0
3,Canada,2006-04-01,113.1,272600,2006-04-01,Canada,26007000.0,6.0,67.0,62.0
4,Canada,2006-05-01,114.5,275900,2006-05-01,Canada,26039000.0,6.0,67.0,63.0

In fact, the LFS data only contains data since March 2006. We decide to just ignore the 2006 Jan & Feb data given deduction of these two months' data won't be a huge concern

In [248]:
# Filter data after March 2006
Monthly_df = Monthly_df[Monthly_df["Date"] >=datetime(2006,3,1)]

# Drop repetitive columns
Monthly_df.reset_index(inplace = True, drop = True)
Monthly_df.drop(['GEO',"REF_DATE"], axis=1, inplace=True)

In [249]:
Monthly_df

,Location,Date,Composite_HPI,Composite_Benchmark,Population,Unemployment rate,Participation rate,Employment rate
0,Canada,2006-03-01,111.7,269300,25979000.0,6.0,67.0,62.0
1,Canada,2006-04-01,113.1,272600,26007000.0,6.0,67.0,62.0
2,Canada,2006-05-01,114.5,275900,26039000.0,6.0,67.0,63.0
3,Canada,2006-06-01,115.7,278800,26072000.0,6.0,67.0,63.0
4,Canada,2006-07-01,116.8,281600,26106000.0,6.0,67.0,63.0
...,...,...,...,...,...,...,...,...
8595,"St. John's, Newfoundland and Labrador",2023-09-01,223.6,331800,191000.0,6.0,65.0,61.0
8596,"St. John's, Newfoundland and Labrador",2023-10-01,222.8,330700,191000.0,6.0,65.0,61.0
8597,"St. John's, Newfoundland and Labrador",2023-11-01,225.3,334400,192000.0,6.0,64.0,60.0
8598,"St. John's, Newfoundland and Labrador",2023-12-01,226.3,335900,192000.0,6.0,64.0,60.0
8599,"St. John's, Newfoundland and Labrador",2024-01-01,226.5,336200,192000.0,6.0,64.0,60.0

### 2) Mortage Rate

Now let's merge the 5-year mortgage rate data. This is assume to be universal on the federal level. So everyone got the same rate at the same time.

This merge will be rather straight forward