# ECO475 Group 2 Notebook Code

### Author: Shih-Chieh Lee, Lingyun Ma, Yuwen Zhao

# 1. Basic Setting

## a. Package Install

In [1]:
#!pip install stats-can
#!pip install pandas
#!pip install numpy
#!pip install matplotlib
#!pip install statsmodels
#!pip install linearmodels
#!pip install tabula-py (Note: Pls install tabula-py, not tabula——血的教训)

## b. Package Import

In [2]:
# Data Collection Packages
from stats_can import StatsCan #read StatsCan data 


sc = StatsCan(data_folder="/Users/changanlee/Documents/GitHub/Housing_Price_Immigration/Input") 
#Create an instance of StatsCan class

In [3]:
# Import tabula and check java environment
from tabula.io import read_pdf  #Scrape table from pdf files
import requests 
from datetime import datetime
!java -version

java version "1.8.0_401"
Java(TM) SE Runtime Environment (build 1.8.0_401-b10)
Java HotSpot(TM) 64-Bit Server VM (build 25.401-b10, mixed mode)

In [4]:
# Data Processing Packages
import pandas as pd #pandas
import numpy as np 
import matplotlib.pyplot as plt #data visualization
%matplotlib inline
# activate plot theme
import qeds

In [5]:
# Stats Model Packages
import statsmodels.api as sm # statistical model
from statsmodels.iolib.summary2 import summary_col # summary table for regression result
from linearmodels.iv import IV2SLS # IV

# 2. Data Collection

## a. StatsCan Data

Let's start with datasets from Statistics Canada, as it's earier to collect directly using StatsCan library

In [6]:
CMA_pop = sc.table_to_df("17-10-0135-01")
CMA_pop.head()

,REF_DATE,GEO,DGUID,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2001-01-01,Canada,2016A00001124,Both sexes,All ages,Persons,249,units,0,v1462635598,178.1.1,31020902.0,NaN,NaN,NaN,0
1,2001-01-01,Canada,2016A00001124,Both sexes,0 to 4 years,Persons,249,units,0,v1462635576,178.1.2,1754354.0,NaN,NaN,NaN,0
2,2001-01-01,Canada,2016A00001124,Both sexes,0 years,Persons,249,units,0,v1462635484,178.1.3,328494.0,NaN,NaN,NaN,0
3,2001-01-01,Canada,2016A00001124,Both sexes,1 year,Persons,249,units,0,v1462635485,178.1.4,345259.0,NaN,NaN,NaN,0
4,2001-01-01,Canada,2016A00001124,Both sexes,2 years,Persons,249,units,0,v1462635486,178.1.5,349563.0,NaN,NaN,NaN,0

## b. CREA Monthly House Price Index Data

### 1) GTA Data

In [7]:
# Define func to generate URLs based on months and years
def generate_url(month, year):
    if month < 10:
        return f"https://trreb.ca/files/market-stats/home-price-index/TREB_MLS_HPI_Public_Tables_0{month}{year}.pdf"
    else:
        return f"https://trreb.ca/files/market-stats/home-price-index/TREB_MLS_HPI_Public_Tables_{month}{year}.pdf"
    #return the corresponding GTA HPI monthly report pdf for scrapping

Let's do one scrapping for example

In [15]:
url = generate_url(1,17)
table = read_pdf(url,pages = 2)
table

Got stderr: Mar 03, 2024 11:59:48 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Helvetica-Bold' for 'ArialUnicodeMS,Bold'
Mar 03, 2024 11:59:51 AM org.apache.pdfbox.pdmodel.PDDocument importPage
WARNING: inherited resources of source document are not imported to destination page
Mar 03, 2024 11:59:51 AM org.apache.pdfbox.pdmodel.PDDocument importPage
WARNING: call importedPage.setResources(page.getResources()) to do this
Mar 03, 2024 11:59:51 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Helvetica-Bold' for 'ArialUnicodeMS,Bold'

[                Unnamed: 0 Unnamed: 1   Composite      Unnamed: 2  \
 0                      NaN      Index   Benchmark  Yr./Yr. % Chg.
 1               TREB Total      231.0    $705,900          22.61%
 2            Halton Region      243.3    $833,600          22.69%
 3               Burlington      236.2    $718,100          21.19%
 4             Halton Hills      228.8    $708,300          22.29%
 5                   Milton      228.3    $685,200          20.67%
 6                 Oakville      259.3    $991,800          24.19%
 7              Peel Region      221.9    $629,500          23.21%
 8                 Brampton      220.2    $559,400          24.13%
 9                  Caledon      202.3    $722,200          24.72%
 10             Mississauga      224.9    $667,500          22.43%
 11         City of Toronto      221.7    $720,200          18.94%
 12             York Region      263.8    $902,200          25.80%
 13                  Aurora      261.5    $839,300          30.10%
 14        East Gwillimbury      228.1    $730,900          24.99%
 15                Georgina      230.6    $478,800          29.48%
 16                    King      233.4    $977,000          24.61%
 17                 Markham      275.4    $954,700          26.33%
 18               Newmarket      243.4    $717,700          25.66%
 19           Richmond Hill      286.4  $1,035,800          28.89%
 20                 Vaughan      248.6    $897,900          21.86%
 21  Whitchurch-Stouffville      265.0    $931,400          24.53%
 22           Durham Region      220.9    $517,100          26.95%
 23                    Ajax      230.4    $568,400          24.61%
 24                   Brock      170.7    $310,500          19.87%
 25              Clarington      212.1    $447,700          22.96%
 26                  Oshawa      222.5    $425,700          30.35%
 27               Pickering      225.9    $608,200          26.55%
 28                  Scugog      195.4    $510,200          21.82%
 29                Uxbridge      201.5    $615,900          21.39%
 30                  Whitby      224.3    $584,700          30.26%
 31         Dufferin County      220.8    $506,100          25.03%
 32             Orangeville      220.8    $506,100          25.03%
 33           Simcoe County      221.0    $473,400          27.38%
 34       Adjala-Tosorontio      180.7    $641,300          21.68%
 35           Bradford West      244.7    $604,800          23.15%
 36         GEswsiallimbury      215.0    $491,400          26.40%
 37                Innisfil      216.2    $397,500          31.67%
 38           New Tecumseth      202.1    $467,800          26.79%

             Single-Family Detached Unnamed: 3    Single-Family Attached  \
 0   Index Benchmark Yr./Yr. % Chg.      Index  Benchmark Yr./Yr. % Chg.
 1            242.6 $907,100 24.86%      245.1           $691,200 23.10%
 2            245.1 $934,500 22.86%      244.3           $649,600 23.38%
 3            236.6 $845,500 20.96%      234.0           $583,200 20.18%
 4            226.0 $757,700 22.29%      232.3           $581,900 22.65%
 5            226.9 $794,200 20.82%      236.1           $595,900 22.20%
 6          261.1 $1,107,000 24.10%      262.7           $733,800 26.24%
 7            226.6 $797,800 23.35%      230.2           $589,400 24.16%
 8            218.7 $637,900 23.70%      224.7           $527,100 24.83%
 9            202.8 $745,100 24.95%      230.8           $570,200 27.51%
 10           241.4 $964,200 23.10%      237.7           $655,600 23.54%
 11         245.4 $1,076,300 21.73%      246.0           $819,900 18.44%
 12         274.0 $1,067,600 28.52%      271.9           $787,000 26.11%
 13           264.5 $983,200 30.75%      268.3           $693,700 29.61%
 14           228.8 $752,800 25.37%      212.8           $489,300 25.40%
 15           241.2 $499,100 29.12%      247.4           $487,800 29.39%
 16           234.0 $973,400 24.20%      244.0           $571,400 22.12%
 17         299.8 $1,233,400 31.32%      280.2           $838,000 25.54%
 18           248.9 $839,000 29.37%      251.9           $593,300 25.95%
 19         314.9 $1,338,200 31.59%      293.1           $890,800 28.84%
 20         245.5 $1,020,500 24.12%      264.2           $800,300 24.68%
 21           265.1 $954,600 24.81%      231.6           $636,100 21.26%
 22           218.2 $567,300 26.64%      231.9           $463,200 26.44%
 23           227.8 $610,600 24.21%      242.0           $520,300 24.74%
 24           171.6 $313,200 19.92%          -                       - -
 25           206.4 $497,100 22.71%      217.0           $414,500 19.36%
 26           219.7 $468,100 29.69%      234.3           $393,500 30.17%
 27           224.5 $702,700 26.55%      233.8           $544,700 26.79%
 28           201.2 $521,200 22.24%      194.4           $406,800 22.88%
 29           200.2 $618,200 21.11%      197.1           $483,700 22.80%
 30           226.2 $650,600 30.60%      232.7           $512,600 30.58%
 31           230.6 $525,500 24.85%      214.8           $402,500 24.81%
 32           230.6 $525,500 24.85%      214.8           $402,500 24.81%
 33           212.7 $474,100 27.59%      231.1           $439,500 27.19%
 34           180.7 $641,300 21.68%          -                       - -
 35           222.6 $679,000 23.39%      247.9           $515,400 23.52%
 36           209.3 $514,500 25.33%      218.7           $372,600 28.42%
 37           216.2 $397,900 31.67%      240.9           $374,700 35.11%
 38           195.1 $502,900 25.63%      210.3           $401,600 26.53%

    Unnamed: 4                 Townhouse Unnamed: 5  Apartment      Unnamed: 6
 0       Index  Benchmark Yr./Yr. % Chg.      Index  Benchmark  Yr./Yr. % Chg.
 1       221.5           $496,500 22.85%      195.4   $392,400          18.21%
 2       236.6           $479,400 22.15%          -          -               -
 3       238.2           $489,400 23.29%          -          -               -
 4       242.1           $430,800 22.77%          -          -               -
 5       218.9           $384,000 21.68%          -          -               -
 6       237.8           $566,600 20.83%          -          -               -
 7       219.8           $472,400 23.83%      191.7   $331,400          21.18%
 8       217.3           $398,900 27.82%      165.8   $259,600          18.51%
 9           -                       - -          -          -               -
 10      220.6           $495,800 22.62%      196.1   $345,200          21.57%
 11      221.2           $542,700 20.74%      196.6   $405,100          18.01%
 12      222.6           $571,000 20.72%      190.4   $418,800          13.94%
 13      200.1           $508,200 23.44%      200.6   $415,400          18.63%
 14          -                       - -          -          -               -
 15          -                       - -          -          -               -
 16          -                       - -          -          -               -
 17      225.6           $573,500 19.62%      189.6   $459,200          14.35%
 18      225.9           $459,400 18.77%      204.1   $344,200          19.43%
 19      207.9           $575,400 18.46%      184.6   $383,300          15.09%
 20      244.9           $666,600 26.76%      194.8   $433,800          11.89%
 21          -                       - -          -          -               -
 22      213.6           $347,000 31.28%      199.4   $358,100          25.25%
 23      227.0           $414,900 29.79%      184.9   $313,600          22.37%
 24          -                       - -          -          -               -
 25      213.9           $334,800 24.36%      207.2   $293,200          30.31%
 26      199.4           $268,900 40.72%      190.4   $231,700          21.74%
 27      228.4           $407,800 27.53%      213.1   $420,300          27.68%
 28          -                       - -          -          -               -
 29          -                       - -          -          -               -
 30      203.8           $371,100 25.88%      189.6   $364,800          22.96%
 31          -                       - -          -          -               -
 32          -                       - -          -          -               -
 33          -                       - -          -          -               -
 34          -                       - -          -          -               -
 35          -                       - -          -          -               -
 36          -                       - -          -          -               -
 37          -                       - -          -          -               -
 38          -                       - -          -          -               -  ]

End of the example

### 2) Loop to Scrape Data

In [ ]:
HPI_GTA = []
for year in range(2010, 2024):
    for month in range(1, 13):
        month_name = datetime(year, month, 1).strftime('%b')
        url = generate_url(month_name, year)
        extracted_data = extract_report_data(url)
        
        if extracted_data is not None:
            extracted_date["Month"] = month_name
            HPI.append(extracted_data)

In [ ]:
HPI